<html>
    <head>
        <title>A-A-A-A</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../angularjs/jquery-2.1.4.min.js"></script>

        <link rel="stylesheet" href="../materialize/css/materialize.min.css">
        <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/material-icon.css" >
        <script src="../materialize/js/materialize.min.js"></script>

    </head>
    <body ng-app="route" style="background-color: #e8f5e9;">

        <div class="row">
            <div ng-include="'../topber/topbar.html'"></div>
        </div>

        <div class="row container" style="position: relative; top: -30px;">
            <div ng-view ></div>
        </div>

        <script src="../angularjs/angular.min.js"></script>
        <script src="../angularjs/angularroute.js"></script>
        <script src="../angularjs/checklist-model.js"></script>
        <script src="../angularjs/route.js"></script>
        <script src="../angularjs/customer.js"></script>
        <script src="../angularjs/customer2.js"></script>
        <script src="../angularjs/departmentemployee.js"></script>
        <script src="../angularjs/employee.js"></script>
        <script src="../angularjs/doctor.js"></script>    

        <script src="../angularjs/typeproduct.js"></script> 
        <script src="../angularjs/unit.js"></script> 
        <script src="../angularjs/product.js"></script> 
        <script src="../angularjs/lot.js"></script>
        <script src="../angularjs/productlot.js"></script>
        
        <script src="../angularjs/listpayheal.js"></script>
        <script src="../angularjs/detailhealandpayheal.js"></script>

    </body>
</html>
