<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../angularjs/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/template.css">
        <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
        <script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="route">
        <div class="row">
            <div class="col-md-2">
                <div ng-include="'../manuber/manuber.html'"></div>
            </div>
            <div class="col-md-10">
                <div ng-view></div>
            </div>
        </div>
        <script src="../angularjs/angular.min.js"></script>
        <script src="../angularjs/angularroute.js"></script>
        <script src="../angularjs/checklist-model.js"></script>
        <script src="../angularjs/route.js"></script>
        <script src="../angularjs/customer.js"></script>
        <script src="../angularjs/departmentemployee.js"></script>
        <script src="../angularjs/employee.js"></script>
        <script src="../angularjs/doctor.js"></script>

        
        

    </body>
</html>
