<div class="card-panel">
    <div class="white" style="padding: 20px;">

        <h3 style="padding: 0px; margin: 0px;">จัดการข้อมูลประเภทสินค้า</h3>
        <br>

        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">queue</i>
                    <span ng-show="error.violations.name.message" style="margin-left: 160px; ">{{error.violations.name.message}}</span>
                    <input  type="text" ng-model="typeProdunt.name">                   
                    <label>ชื่อประเภทสินค้า</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">snooze</i>
                    <input type="date" class="datepicker" ng-model="typeProdunt.create_Date" >
                    <label>วันสร้างประเภทสินค้า</label>
                </div>
            </div>
        </div>      
        <button class="waves-effect waves-light btn light-blue darken-4" type="button" ng-click="saveTypeProduct()"
                style="margin-top: -40px; margin-left: 88%;">
            บันทึก
        </button>


        <br>
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">search</i>
                    <input type="text">
                    <label>ชื่อประเภทสินค้า</label>
                </div>
                <div class="input-field col s6">
                    <button class="waves-effect waves-light btn brown yellow amber accent-4" type="button" ng-click="">
                        ค้นหา
                    </button>
                </div>
            </div>
        </div>
        <table class="hoverable">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>CREATE_DATE</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="columntypeproduct in typeProdunts.content">
                    <td>{{columntypeproduct.id}}</td>
                    <td>{{columntypeproduct.name}}</td> 
                    <td>{{columntypeproduct.create_Date}}</td>  
                    <td>
                        <form method="post">
                            <input type="submit" value="Delete" 
                                   class="waves-effect waves-light btn deep-orange 
                                   accent-4" ng-click="deleteTypeProduct(columntypeproduct)"> 
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

