<div id="bodyinto">
    <h1 id="h1bodyintoaddcustomer">เพิ่มข้อมูลแผนกพนักงาน</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            ตารางกรอกข้อมูลแผนกพนักงาน
        </div>
        <div class="panel-body">
            <!--//////////////////////////แถวซ้าย//////////////////////////////-->
            <div class="row" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>เพิ่มแผนกพนักงาน</label>
                        <span ng-show="error.violations.name.message" class="alert-danger">{{error.violations.name.message}}</span>
                        <input class="form-control" ng-model="department.name">
                    </div>
                </div>

                <!--/////////////////////////////แถวขวา///////////////////////////-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="submit" value="บันทึก" class="btn btn-success" style="margin-top: 25px;" ng-click="saveDepartment()">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            ตารางแผนกพนักงาน
        </div>

        <div id="inputsearch" class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    ค้นหา
                </button>
            </span>
        </div>

        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" >
                    <tr>
                        <td>ID</td>
                        <td>NAME</td>
                        <td></td>
                    </tr>                                           
                    <tbody>
                        <tr ng-repeat="columndepartment in departments.content">
                            <td>{{columndepartment.id}}</td>
                            <td>{{columndepartment.name}}</td>   
                            <td>
                                <form method="post">
                                    <input type="submit" value="Delete" class="btn btn-danger" ng-click="delectDepartment(columndepartment)"> 
                                    <!-- <input type="submit" class="btn btn-primary" value="Update" ng-click="">-->
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


