<div id="bodyinto">
    <h1 id="h1bodyintotablecustomer">ข้อมูลหมอ</h1>   
    <div class="panel panel-default">
        <div class="panel-heading">
            ตารางข้อมูลหมอ
        </div>

        <div id="inputsearch" class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    ค้นหา
                </button>
            </span>
        </div>

        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" >
                    <tr>
                        <td>ID</td>
                        <td>CUR_NO</td>
                        <td>EMAIL</td>
                         <td>NAME</td>
                        <td>MOBILE</td>
                        <td>WORKSTATUS</td>
                        <td></td>
                    </tr>                                           
                    <tbody>
                        <tr ng-repeat="columndoctor in doctors.content">
                            <td>{{columndoctor.id}}</td>
                            <td>{{columndoctor.cerNo}}</td>
                            <td>{{columndoctor.email}}</td>
                            <td>{{columndoctor.nameTh}}</td>
                            <td>{{columndoctor.mobile}}</td>
                            <td>{{columndoctor.workStatus}}</td>
                            <td>
                                <form method="post">
                                    <input type="submit" value="Delete" class="btn btn-danger" ng-click="delectDoctoe(columndoctor)"> 
<!--                                     <input type="submit" class="btn btn-primary" value="Update" ng-click="">-->
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    #bodyinto{
        width: 102.5%;
        height: 990px;
        margin: 5px -15px;
        background-color: white;
    }
    #h1bodyintotablecustomer{
        padding: 0px;
        margin: 0px 90px;
        margin-left: -70px;
    }
    .panel-default{
        margin: 20px;
        position: relative;
        top: 15px;
    }
    #inputsearch{
        position: relative;
        top: 10px;
        left: 15px;
        width: 300px;
    }
    .panel-body{
        margin-top: 10px; 
    }

</style>
