<div class="card-panel grey lighten-2">
    <div class="white" style="padding: 20px;">
        <h4>เพิ่มBill</h4>

        <div class="row" >
            <div class="input-field col m6">
                <i class="material-icons prefix">android</i>
                <input type="date" class="datepicker" ng-model="xxx" >
                <label>วันออกbill</label>
            </div>
        </div>

        <div class="row" >
            <div class="input-field col m12" >
                <table  class="bordered" >
                    <thead >
                        <tr>
                            <th>ลำดับ</th>
                            <th>รายการ</th>
                            <th>จำนวน</th>
                            <th>ราคา</th>
                            <th>หน่วย</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="orderDetailHeal in orderDetailHeals">
                            <td>{{$index + 1}}</td>
                            <td>{{orderDetailHeal.name}}</td>
                            <td>{{orderDetailHeal.value}}</td>
                            <td>{{orderDetailHeal.price * orderDetailHeal.value}}</td>
                            <td>บาท</td>
                            <td><input type="button" value="ลบ" class="btn btn-primary red" ng-click="removeRowSelectDetailHeal(orderDetailHeal.name)"/></td>
                        </tr>

                        <tr ng-repeat="orderProduct in orderProducts">
                            <td>{{$index + orderDetailHeals.length + 1}}</td>
                            <td>{{orderProduct.product_Lot.product.name}}</td>
                            <td>{{orderProduct.value}}</td>
                            <td>{{orderProduct.product_Lot.priceSell * orderProduct.value}}</td>
                            <td>บาท</td>
                            <td><input type="button" value="ลบ" class="btn btn-primary red" ng-click="removeRowSelectProduct(orderProduct.product_Lot.product.name)"/></td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td>รวมราคาสินค้าและค่ารักษา</td>
                            <td>{{getTotal()}}</td>
                            <td>บาท</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row" >
            <div class="input-field col m6">
                <h5>เพิ่มรายการยา</h5>
                <button class="btn-floating btn-large waves-effect waves-light btn modal-trigger red" href="#modal1">
                    <i class="material-icons">add</i></button>

                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <div class="row" >
                            <div class="input-field col m6">
                                <i class="material-icons prefix">android</i>
                                <div style="margin-left: 40px; margin-top: 40px;">
                                    <select class="browser-default"
                                            ng-model="nameProduct"
                                            ng-options="loadProducts.product.name for loadProducts in loadProducts.content"      
                                            >                                    
                                    </select>
                                    <label  style="margin-left: 45px; font-size: 14px;">ชื่อสินค้า</label>
                                </div>
                            </div>

                            <div class="input-field col m6">
                                <i class="material-icons prefix">android</i>
                                <input type="text" ng-model="valueProduct" style="margin-top: 40px;">
                                <label>จำนวน</label>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button class=" modal-action modal-close waves-effect waves-green btn-flat grey" ng-click="addRowSelectProduct(nameProduct)">ตกลง</button>
                    </div>
                </div>

            </div>

            <div class="input-field col m6">
                <h5>เพิ่มรายการรักษา</h5>
                <button class="btn-floating btn-large waves-effect waves-light btn modal-trigger red" href="#modal2">
                    <i class="material-icons">add</i></button>
                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <div class="row" >
                            <div class="input-field col m12">
                                <i class="material-icons prefix">android</i>
                                <div style="margin-left: 40px; margin-top: 40px;">
                                    <select class="browser-default"
                                            ng-model="nameDetailHeal"
                                            ng-options="loadPayDetailHeals.customer.hn for loadPayDetailHeals in loadPayDetailHeals.content"      
                                            >                                    
                                    </select>
                                    <label  style="margin-left: 45px; font-size: 14px;">ชื่อสินค้า</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button class=" modal-action modal-close waves-effect waves-green btn-flat grey" ng-click="addrowSelectPayHeal(nameDetailHeal)">ตกลง</button>
                    </div>
                </div>
            </div>


        </div>


        <div class="row" >
            <div class="input-field col m6">

            </div>
            <div class="input-field col m4 " >

            </div><div class="input-field col m2 " >
                <button class="waves-effect waves-light btn light-blue darken-4" 
                        type="button" ng-click="saveDetailheal()">
                    บันทึก
                </button>
            </div>
        </div>

        <!--        <div class="row">
                    <div class="input-field col m12">
                        <table class="hoverable">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>DETAILHEAL</td>
                                    <td>DATEHEAL</td>
                                    <td>CUSTOMER_NAME</td>
                                    <td>DUCTOR_NAME</td>
        
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="columndetailheal in detailHeals.content">
                                    <td>{{columndetailheal.id}}</td>
                                    <td>{{columndetailheal.detail}}</td> 
                                    <td>{{columndetailheal.dateHeal}}</td> 
                                    <td>{{columndetailheal.customer.name}}</td> 
                                    <td>{{columndetailheal.doctor.nameTh}}</td>  
                                    <td>
                                        <form method="post">
                                            <input type="submit" value="Delete" 
                                                   class="waves-effect waves-light btn deep-orange 
                                                   accent-4" ng-click="deleteDetailheal(columndetailheal)"> 
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
    </div>
</div>



