<div id="bodyinto">
    <h1 id="h1bodyintoaddcustomer">เพิ่มข้อมูลหมอ</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            ตารางกรอกข้อมูลหมอ
        </div>
        <div class="panel-body" ng-show="page === 1">
            <!--//////////////////////////แถวซ้าย//////////////////////////////-->
            <div ng-init="doctor.stateEmployee = 'Doctor'" ng-model="doctor.stateEmployee" ></div>
            <div class="row" >
                <div class="col-lg-6">
                    <div class="form-group" >
                        <label>อีเมล</label>
                        <span ng-show="error.violations.email.message" class="alert-danger">{{error.violations.email.message}}</span>
                        <input class="form-control" ng-model="doctor.email">
                    </div>
                    <div class="form-group" >
                        <label>ชื่อ-สกุล ไทย</label>
                        <span ng-show="error.violations.nameTh.message" class="alert-danger">{{error.violations.nameTh.message}}</span>
                        <input class="form-control" ng-model="doctor.nameTh" >
                    </div>
                    <div class="form-group">
                        <label>ชื่อภาษาอังกฤษ</label>
                        <input class="form-control" ng-model="doctor.nameEng">
                    </div>
                    <div class="form-group">
                        <label>วันเกิด</label>
                        <input class="form-control"ng-model="doctor.birthDay" >
                    </div>
                    <div class ="form-group">
                        <label>เพศ</label>
                        <span class="radio">
                            <label style="margin-left: 0px;">
                                <input type="radio" name="optradio" value="Male" ng-model="doctor.sex" >ชาย</label>
                            <label style="margin-left: 20px;">
                                <input type="radio" name="optradio" value="Female" ng-model="doctor.sex" >หญิง</label>
                        </span>
                    </div>
                    <div class="form-group" ng-init="doctor.blood = 'A'">
                        <label>กรุ๊ปเลือด</label>
                        <select class="form-control" ng-model="doctor.blood">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="O">O</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>เชื้อชาติ</label>
                        <input class="form-control" ng-model="doctor.race">
                    </div>
                    <div class="form-group">
                        <label>สัญชาติ</label>
                        <input class="form-control" ng-model="doctor.nation">
                    </div>
                    <div class="form-group">
                        <label>วันเริ่มทำงาน</label>
                        <input class="form-control" ng-model="doctor.startWork">
                    </div>
                    <div class="form-group">
                        <label>วันสิ้นสุดงาน</label>
                        <input class="form-control" ng-model="doctor.endWork">
                    </div>

                </div>

                <!--/////////////////////////////แถวขวา///////////////////////////-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>พาสเวิร์ค</label>
                        <input class="form-control" ng-model="doctor.password">
                    </div>
                    <div class="form-group">
                        <label>รหัสบัตรประจำตัวประชาชน</label>
                        <input class="form-control" ng-model="doctor.pid">
                    </div>
                    <div class="form-group">
                        <label>ที่อยู่บัตรประชาชน</label>
                        <textarea class="form-control" rows="3" ng-model="doctor.addressPid"></textarea>
                    </div>
                    <div class="form-group">
                        <label>ที่อยู่ปัจจุบัน</label>
                        <textarea class="form-control" rows="3" ng-model="doctor.address"></textarea>
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์บ้าน</label>
                        <input class="form-control" ng-model="doctor.tel">
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์มือถือ</label>
                        <span ng-show="error.violations.mobile.message" class="alert-danger">{{error.violations.mobile.message}}</span>
                        <input class="form-control" ng-model="doctor.mobile">
                    </div>
                    <div class="form-group">
                        <label>สถานะทางการทหาร</label>
                        <input class="form-control" ng-model="doctor.soldierStatus">
                    </div>
                    <div class="form-group">
                        <label>สถานะสมรส</label>
                        <input class="form-control" ng-model="doctor.marryStatus">
                    </div>
                    <div class="form-group">
                        <label>สถานะการทำงาน</label>
                        <input class="form-control" ng-model="doctor.workStatus">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="ต่อไป" class="btn btn-success" style="margin-left: 90%" ng-click="nextPage()">
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="page === 2">
            <!--//////////////////////////แถวซ้าย//////////////////////////////-->
            <div class="row" >
                <div class="col-lg-6">
                    <h2>ข้อมูลCerfinication</h2>
                    <div class="form-group">
                        <label>เลขที่ใบcerfinication</label>
                        <input class="form-control" ng-model="doctor.cerNo">
                    </div>
                    <div class="form-group">
                        <label>ประเภทใบcerfinication</label>
                        <input class="form-control" ng-model="doctor.cerType">
                    </div>
                    <div class="form-group">
                        <h2>ข้อมูลผู้ติดต่อ</h2>
                        <label>ชื่อ-สกุล</label>
                        <input class="form-control" ng-model="doctor.contactpersion.name">
                    </div>
                    <div class="form-group">
                        <label>เกี่ยวข้องเป็น</label>
                        <input class="form-control" ng-model="doctor.contactpersion.relation">
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์</label>
                        <input class="form-control" ng-model="doctor.contactpersion.mobile">
                    </div>                  

                </div>
                <!--//////////////////////////แถวขวา//////////////////////////////-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <h2>ข้อมูลบัญชีธนาคาร</h2>
                        <label>เลขบัญชีธนาคาร</label>
                        <input class="form-control" ng-model="doctor.bankaccount.addcountid">
                    </div>
                    <div class="form-group">
                        <label>ธนาคาร</label>
                        <input class="form-control" ng-model="doctor.bankaccount.bankname">
                    </div>

                    <div class="form-group">
                        <label>ชื่อบัญชี้</label>
                        <input class="form-control" ng-model="doctor.bankaccount.addcountname">
                    </div>
                    <div class="form-group">
                        <label>ประเภทบัญชี</label>
                        <input class="form-control" ng-model="doctor.bankaccount.addcounttype">
                    </div>                        
                    <h2>สิทธิการใช้งาน</h2>
                    <div class="form-group">
                        <div  ng-repeat="auth in authorities.content">
                            <input type="checkbox" checklist-model="doctor.authorities"
                                   checklist-value="auth"> {{auth.role}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="กลับ" class="btn btn-danger" style="margin-left: 85%" ng-click="backPage()"> 
                <input type="submit" value="บันทึก" class="btn btn-success"  ng-click="saveDoctor();">    
            </div>
        </div>
    </div>
</div>

