<div id="bodyinto">
    <h1 id="h1bodyintoaddcustomer">เพิ่มข้อมูลลูกค้า</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            ตารางกรอกข้อมูลลูกค้า
        </div>
        <div class="panel-body">
            <!--//////////////////////////แถวซ้าย//////////////////////////////-->
            <div class="row" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>HN</label>
                        <input class="form-control" ng-model="customer.hn">
                    </div>
                    <div class="form-group">
                        <label>เลขประจำตัวประชาชน</label>
                        <input class="form-control" ng-model="customer.pid" >
                    </div>
                    <div class ="form-group">
                        <label>เพศ</label>
                        <span class="radio">
                            <label style="margin-left: 0px;">
                                <input type="radio" name="optradio" value="Male" ng-model="customer.sex" >ชาย</label>
                            <label style="margin-left: 20px;">
                                <input type="radio" name="optradio" value="Female" ng-model="customer.sex">หญิง</label>
                        </span>
                    </div>
                    <div class="form-group" ng-init="customer.blood = 'A'">
                        <label>กรุ๊ปเลือด</label>
                        <select class="form-control" ng-model="customer.blood">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="O">O</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>ที่อยู่</label>
                        <textarea class="form-control" rows="3" ng-model="customer.address"></textarea>
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทร</label>
                        <input class="form-control" ng-model="customer.tel">
                    </div>
                </div>

                <!--/////////////////////////////แถวขวา///////////////////////////-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>ชื่อ</label><span class="require"></span>
                        <input class="form-control" ng-model="customer.name">
                    </div>
                    <div class="form-group">
                        <label>วันเกิด</label>
                        <input class="form-control" ng-model="customer.birthday">

                    </div>
                    <div class="form-group">
                        <label>สัญชาติ</label>
                        <input class="form-control" ng-model="customer.nation">
                    </div>
                    <div class="form-group">
                        <label>เชื่อชาติ</label>
                        <input class="form-control" ng-model="customer.race">
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์มือถือ</label>
                        <input class="form-control" ng-model="customer.mobile">
                    </div>
                    <div class="form-group">
                        <label>อาชีพ</label>
                        <input class="form-control" ng-model="customer.job">
                    </div>
                    <div class="form-group">
                        <label>อีเมลล์</label>
                        <input class="form-control" ng-model="customer.email">
                    </div>

                    <label>ประวัติทางการแพทย์</label>
                    <br>
                    <div  ng-repeat="med in medicalhistorys.content">
                        <input type="checkbox" checklist-model="customer.medicalhistory"
                               checklist-value="med"> {{med.disease}}
                    </div>
                    <br>     
                    <div class="form-group">
                        <input type="submit" value="บันทึก" class="btn btn-success" style="margin-left: 80%" ng-click="saveCustomer()">
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<style>
    #bodyinto{
        width: 102.5%;
        height: 990px;
        margin: 5px -15px;
        background-color: white;
    }
    #h1bodyintoaddcustomer{
        padding: 0px;
        margin: 0px 90px;
        margin-left: -70px;
    }
    .panel-default{
        margin: 20px;
        position: relative;
        top: 15px;
    }
</style>
