<div class="card-panel grey lighten-2" ng-show="page === 1">
    <div class="white" style="padding: 20px;" >
        <h3 style="padding: 0px; margin: 0px;">เพิ่มข้อมูลพนักงาน</h3>
        <br>

        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <span ng-show="error.violations.email.message" style="margin-left: 100px;">{{error.violations.email.message}}</span>
                <input type="text" ng-model="employee.email">
                <label>อีเมลล์</label>    
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">network_locked</i>
                <input type="text" ng-model="employee.password">
                <label >พาสเวิร์ค</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">person_pin</i>
                <input type="text" ng-model="employee.pid">
                <label>เลขประจำตัวประชาชน</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">cake</i>
                <input type="date" class="datepicker" ng-model="employee.birthDay">
                <label>วันเกิด</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <span ng-show="error.violations.nameTh.message" style="margin-left: 70px; ">{{error.violations.nameTh.message}}</span>
                <input type="text" ng-model="employee.nameTh">
                <label>ชื่อ-สกุล-ไทย</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" ng-model="employee.nameEng">
                <label>ชื่อ-สกุล-อังกฤษ</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">wc</i>
                <div style="margin-left: 70px;">
                    <input  type="radio" class="with-gap" name="Male" value="Male" ng-model="employee.sex" id="Male" />
                    <label for="Male">ชาย</label>
                    <input type="radio" class="with-gap" name="Female"  value="Female" ng-model="employee.sex" id="Female"/>
                    <label for="Female">หญิง</label>
                </div>
                <label>เพศ</label>
            </div>
            <div class="input-field col s6" >
                <i class="material-icons prefix">blur_on</i>
                <div style="margin-left: 40px; margin-top: 40px;" ng-init="employee.blood = 'A'">
                    <select  class="browser-default" ng-model="employee.blood">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                    <label style="margin-left: 45px; font-size: 14px;">กรุ๊ปเลือด</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">blur_linear</i>
                <input type="text" ng-model="employee.race">
                <label>เชื่อชาติ</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">assistant_photo</i>
                <input type="text" ng-model="employee.nation">
                <label>สัญชาติ</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">home</i>
                <textarea class="materialize-textarea" ng-model="employee.addressPid"></textarea>
                <label>ที่อยู่ตามบัตรประชาชน</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">home</i>
                <textarea class="materialize-textarea" ng-model="employee.address"></textarea>
                <label>ที่อยู่ปัจจุบัน</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input type="text" ng-model="employee.tel">
                <label>เบอร์โทรศัพท์บ้าน</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">smartphone</i>
                <span ng-show="error.violations.mobile.message" style="margin-left: 175px; ">{{error.violations.mobile.message}}</span>
                <input type="text" ng-model="employee.mobile">
                <label>เบอร์โทรศัพท์มือถือ</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">local_play</i>
                <input type="text" ng-model="employee.soldierStatus">
                <label>สถานะทางการทหาร</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">favorite_border</i>
                <input type="text" ng-model="employee.marryStatus">
                <label >สถานะสมรส</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">play_arrow</i>
                <input type="date" class="datepicker" ng-model="employee.startWork">
                <label>วันเริ่มทำงาน</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">stop</i>
                <input type="date" class="datepicker" ng-model="employee.endWork">
                <label>วันสิ้นสุดงาน</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">add_alarm</i>
                <input type="text" ng-model="employee.workStatus">
                <label >สถานะการทำงาน</label>
            </div>
            <div class="input-field col s6">
                <div class="form-group">
                    <input type="submit" value="ต่อไป" class="btn " style="margin-left: 80%;" ng-click="nextPage()">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card-panel grey lighten-2" ng-show="page === 2">
    <div class="white" style="padding: 20px;" >
        <h3 style="padding: 0px; margin: 0px;">เพิ่มข้อมูลพนักงาน</h3>
        <br>

        <h4 style="padding: 0px; margin: 0px;">ข้อมูลผู้ติดต่อเพิ่มเติม</h4>
        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">group_add</i>
                <input type="text" ng-model="employee.contactpersion.name">
                <label>ชื่อ-สกุล</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">group</i>
                <input type="text" ng-model="employee.contactpersion.relation">
                <label>เกี่ยวข้องเป็น</label>
            </div>
        </div>

        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">phone_iphone</i>
                <input type="text" ng-model="employee.contactpersion.mobile">
                <label >เบอร์โทรศัพท์</label>
            </div>
            <div class="input-field col s6">

            </div>
        </div>

        <h4 style="padding: 0px; margin: 0px;">ข้อมูลบัญชีธนาคาร</h4>
        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">account_balance</i>
                <input type="text" ng-model="employee.bankaccount.bankname">
                <label >ชื่อธนาคาร</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input type="text" ng-model="employee.bankaccount.addcountid">
                <label>เลขบัญชี</label>
            </div>
        </div>

        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">loyalty</i>
                <input type="text" ng-model="employee.bankaccount.addcountname">
                <label>ชื่อบัญชี้</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">collections_bookmark</i>
                <input type="text" ng-model="employee.bankaccount.addcounttype">
                <label >ประเภทบัญชี</label>
            </div>
        </div>

        <h4 style="padding: 0px; margin: 0px;">ข้อมูลแผนก</h4>
        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">supervisor_account</i>
                <div style="margin-left: 40px; margin-top: 40px;">
                <select class="browser-default"
                        ng-model="employee.departmentEmployee"
                        ng-options="department.name for department in departments.content" 
                        >
                </select>
                <label  style="margin-left: 45px; font-size: 14px;">เลือกแผนก</label>
                </div>
            </div>
            <div class="input-field col s6">

            </div>
        </div>

        <h4 style="padding: 0px; margin: 0px;">สิทธิการใช้งาน</h4>
        <div class="input-field col s6">
            <i class="material-icons prefix">assignment</i>
            <label>ประวัติทางการแพทย์</label>
            <br>
            <div ng-repeat="auth in authorities.content"">    
                <input type="checkbox" id="{{auth.role}}" checklist-model="employee.authorities" checklist-value="auth" > 
                <label for="{{auth.role}}">{{auth.role}}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">

            </div>
            <div class="input-field col s6">
                <div style="margin-left: 55%; margin-top: 50%;">
                    <input type="submit" value="กลับ" class="btn "  ng-click="backPage()"> 
                    <input type="submit" value="บันทึก" class="btn "  ng-click="saveEmployee();"> 
                </div>
            </div>

        </div>
    </div>
</div>
<!--<div class="card-panel grey lighten-2">
    <h1 id="h1bodyintoaddcustomer">เพิ่มข้อมูลพนักงาน</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            ตารางกรอกข้อมูลพนักงาน
        </div>
        <div class="panel-body" ng-show="page === 1">
            //////////////////////////แถวซ้าย//////////////////////////////
            <div ng-init="employee.stateEmployee = 'Staff'" ng-model="employee.stateEmployee" ></div>
            <div class="row" >
                <div class="col-lg-6">
                    <div class="form-group" >
                        <label>อีเมล</label>
                        <span ng-show="error.violations.email.message" class="alert-danger">{{error.violations.email.message}}</span>
                        <input class="form-control" ng-model="employee.email">
                    </div>
                    <div class="form-group" >
                        <label>ชื่อ-สกุล ไทย</label>
                        <span ng-show="error.violations.nameTh.message" class="alert-danger">{{error.violations.nameTh.message}}</span>
                        <input class="form-control" ng-model="employee.nameTh" >
                    </div>
                    <div class="form-group">
                        <label>ชื่อภาษาอังกฤษ</label>
                        <input class="form-control" ng-model="employee.nameEng">
                    </div>
                    <div class="form-group">
                        <label>วันเกิด</label>
                        <input class="form-control"ng-model="employee.birthDay" >
                    </div>
                    <div class ="form-group">
                        <label>เพศ</label>
                        <span class="radio">
                            <label style="margin-left: 0px;">
                                <input type="radio" name="optradio" value="Male" ng-model="employee.sex" >ชาย</label>
                            <label style="margin-left: 20px;">
                                <input type="radio" name="optradio" value="Female" ng-model="employee.sex" >หญิง</label>
                        </span>
                    </div>
                    <div class="form-group" ng-init="employee.blood = 'A'">
                        <label>กรุ๊ปเลือด</label>
                        <select class="form-control" ng-model="employee.blood">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="O">O</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>เชื้อชาติ</label>
                        <input class="form-control" ng-model="employee.race">
                    </div>
                    <div class="form-group">
                        <label>สัญชาติ</label>
                        <input class="form-control" ng-model="employee.nation">
                    </div>
                    <div class="form-group">
                        <label>วันเริ่มทำงาน</label>
                        <input class="form-control" ng-model="employee.startWork">
                    </div>
                    <div class="form-group">
                        <label>วันสิ้นสุดงาน</label>
                        <input class="form-control" ng-model="employee.endWork">
                    </div>

                </div>

                /////////////////////////////แถวขวา///////////////////////////
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>พาสเวิร์ค</label>
                        <input class="form-control" ng-model="employee.password">
                    </div>
                    <div class="form-group">
                        <label>รหัสบัตรประจำตัวประชาชน</label>
                        <input class="form-control" ng-model="employee.pid">
                    </div>
                    <div class="form-group">
                        <label>ที่อยู่บัตรประชาชน</label>
                        <textarea class="form-control" rows="3" ng-model="employee.addressPid"></textarea>
                    </div>
                    <div class="form-group">
                        <label>ที่อยู่ปัจจุบัน</label>
                        <textarea class="form-control" rows="3" ng-model="employee.address"></textarea>
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์บ้าน</label>
                        <input class="form-control" ng-model="employee.tel">
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์มือถือ</label>
                        <span ng-show="error.violations.mobile.message" class="alert-danger">{{error.violations.mobile.message}}</span>
                        <input class="form-control" ng-model="employee.mobile">
                    </div>
                    <div class="form-group">
                        <label>สถานะทางการทหาร</label>
                        <input class="form-control" ng-model="employee.soldierStatus">
                    </div>
                    <div class="form-group">
                        <label>สถานะสมรส</label>
                        <input class="form-control" ng-model="employee.marryStatus">
                    </div>
                    <div class="form-group">
                        <label>สถานะการทำงาน</label>
                        <input class="form-control" ng-model="employee.workStatus">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="ต่อไป" class="btn btn-success" style="margin-left: 90%" ng-click="nextPage()">
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="page === 2">
            //////////////////////////แถวซ้าย//////////////////////////////
            <div class="row" >
                <div class="col-lg-6">
                    <div class="form-group">
                        <h2>ข้อมูลผู้ติดต่อ</h2>
                        <label>ชื่อ-สกุล</label>
                        <input class="form-control" ng-model="employee.contactpersion.name">
                    </div>
ชื่อ-สกุล เกี่ยวข้องเป็น เบอร์โทรศัพท์
                    <div class="form-group">
                        <label>เกี่ยวข้องเป็น</label>
                        <input class="form-control" ng-model="employee.contactpersion.relation">
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์</label>
                        <input class="form-control" ng-model="employee.contactpersion.mobile">
                    </div>
                    <h2>ข้อมูลแผนก</h2>
                    <div>
                        <label>เลือกแผนก</label>
                        <select class="form-control" 
                                ng-model="employee.departmentEmployee"
                                ng-options="department.name for department in departments.content" 
                                >
                        </select> 
                    </div>
                </div>
                //////////////////////////แถวขวา//////////////////////////////
                <div class="col-lg-6">
                    <div class="form-group">
                        <h2>ข้อมูลบัญชีธนาคาร</h2>
                        <label>เลขบัญชีธนาคาร</label>
                        <input class="form-control" ng-model="employee.bankaccount.addcountid">
                    </div>
ชื่อธนาคาร เลขบัญชีธนาคาร ชื่อบัญชี้ ประเภทบัญชี 
                    <div class="form-group">
                        <label>ธนาคาร</label>
                        <input class="form-control" ng-model="employee.bankaccount.bankname">
                    </div>

                    <div class="form-group">
                        <label>ชื่อบัญชี้</label>
                        <input class="form-control" ng-model="employee.bankaccount.addcountname">
                    </div>
                    <div class="form-group">
                        <label>ประเภทบัญชี</label>
                        <input class="form-control" ng-model="employee.bankaccount.addcounttype">
                    </div>                        
                    <h2>สิทธิการใช้งาน</h2>
                    <div class="form-group">
                        <div  ng-repeat="auth in authorities.content">
                            <input type="checkbox" checklist-model="employee.authorities"
                                   checklist-value="auth"> {{auth.role}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="กลับ" class="btn btn-danger" style="margin-left: 85%" ng-click="backPage()"> 
                <input type="submit" value="บันทึก" class="btn btn-success"  ng-click="saveEmployee();">    
            </div>
        </div>
    </div>
</div>-->

