<div class="card-panel grey lighten-2">
    <div class="white" style="padding: 20px;">
        <h3 style="padding: 0px; margin: 0px;">เพิ่มข้อมูลลูกค้า</h3>
        <br>

        <div class="row" >
            <div class="input-field col s6">
                <i class="material-icons prefix">business</i>
                <input type="text" ng-model="customer.hn">
                <label>HN</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">person_pin</i>
                <input type="text" ng-model="customer.pid">
                <label>เลขประจำตัวประชาชน</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <span ng-show="error.violations.name.message" style="margin-left: 140px; ">{{error.violations.name.message}}</span>
                <input type="text" ng-model="customer.name">
                <label>ชื่อ-นามสกุล</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">cake</i>
                <input type="date" class="datepicker" ng-model="customer.birthday" >
                <label>วันเกิด</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">wc</i>
                <div style="margin-left: 70px;">
                    <input  type="radio" class="with-gap" name="Male" value="Male" ng-model="customer.sex" id="Male" />
                    <label for="Male">ชาย</label>
                    <input type="radio" class="with-gap" name="Female"  value="Female" ng-model="customer.sex" id="Female"/>
                    <label for="Female">หญิง</label>
                </div>
                <label>เพศ</label>
            </div>
            <div class="input-field col s6" >
                <i class="material-icons prefix">blur_on</i>
                <div style="margin-left: 40px; margin-top: 40px;" ng-init="customer.blood = 'A'">
                    <select  class="browser-default" ng-model="customer.blood">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                    <label style="margin-left: 45px; font-size: 14px;">กรุ๊ปเลือด</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">blur_linear</i>
                <input type="text" ng-model="customer.race">
                <label>เชื่อชาติ</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">assistant_photo</i>
                <input type="text" ng-model="customer.nation">
                <label>สัญชาติ</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">home</i>
                <textarea class="materialize-textarea" ng-model="customer.address"></textarea>
                <label>ที่อยู่</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input type="text" ng-model="customer.tel">
                <label>เบอร์โทรศัพท์บ้าน</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">smartphone</i>
                 <span ng-show="error.violations.mobile.message" style="margin-left: 175px; ">{{error.violations.mobile.message}}</span>
                <input type="text" ng-model="customer.mobile">
                <label>เบอร์โทรศัพท์มือถือ</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <span ng-show="error.violations.email.message" style="margin-left: 100px;">{{error.violations.email.message}}</span>
                <input ng-model="customer.email" type="text" >
                <label>อีเมลล์</label>    
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">card_travel</i>
                <input type="text" ng-model="customer.job">
                <label>อาชีพ</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">assignment</i>
                 <label>ประวัติทางการแพทย์</label>
                 <br>
                 <div ng-repeat="med in medicalhistorys.content">    
                     <input type="checkbox" id="{{med.id}}" checklist-model="customer.medicalHistory" checklist-value="med"> 
                     <label for="{{med.id}}">{{med.disease}}</label>
                 </div>
               
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">

            </div>
            <div class="input-field col s6">
                <div class="form-group">
                    <input type="submit" value="บันทึก" class="waves-effect waves-light btn light-blue darken-4" style="margin-left: 75%" ng-click="saveCustomer()">
                </div>
            </div>
        </div>
    </div>
</div>
