<div class="card-panel grey lighten-2">
    <div class="white" style="padding: 20px;">

        <h3 style="padding: 0px; margin: 0px;">จัดการข้อมูลหน่วย</h3>
        <br>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">format_underlined</i>
                        <span ng-show="error.violations.name.message" style="margin-left: 140px; ">{{error.violations.name.message}}</span>
                        <input  type="text" ng-model="unit.name">
                        <label>ชื่อหน่วย</label>
                    </div>
                    <div class="input-field col s6">
                        <button class="waves-effect waves-light btn light-blue darken-4" type="button" ng-click="saveUnit()">
                            บันทึก
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input type="text">
                        <label>ชื่อหน่วย</label>
                    </div>
                    <div class="input-field col s6">
                        <button class="waves-effect waves-light btn brown yellow amber accent-4" type="button" ng-click="">
                            ค้นหา
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="hoverable">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="columnunit in units.content">
                    <td>{{columnunit.id}}</td>
                    <td>{{columnunit.name}}</td>   
                    <td>
                        <form method="post">
                            <input type="submit" value="Delete" 
                                   class="waves-effect waves-light btn deep-orange 
                                   accent-4" ng-click="deleteUnit(columnunit)"> 
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

